<!-- app/views/user_sessions/new.html.erb -->

<div class='container'>
  <h1>Login page</h1>
<%= form_with model: @user, url: user_sessions_path do |f| %>
  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div><br>
  <p>
    <%= f.submit 'Login' %>
  </p>
  <p> Don't have an account? </p>
  <%= link_to 'Sign Up', new_user_path %><br>
<% end %>
  </div>
